name = "wishesu1"
main = "apps/worker/src/index.ts"
compatibility_date = "2025-12-14"

[[d1_databases]]
binding = "DB"
database_name = "product_db"
database_id = "ac278da2-eb9a-4cb6-bdeb-be3eb17b22f5"

[[r2_buckets]]
binding = "MEDIA"
bucket_name = "product-media"
