name = "wishesu1"
main = "backend/index/index.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./frontend"
binding = "ASSETS"
html_handling = "none"
not_found_handling = "none"

[[d1_databases]]
binding = "DB"
database_name = "secure-shop-db"
database_id = "146ed085-2fa4-4a3d-a917-da5335358311"

[[r2_buckets]]
binding = "PRODUCT_MEDIA"
bucket_name = "product-media-bucket"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "temp-uploads-bucket"

[triggers]
crons = ["0 2 * * *"]

[vars]
VERSION = "2.0.0-modular"
